SECRET_KEY=django-insecure-placeholder-key-for-development
DEBUG=True
USE_S3=True
ALLOWED_HOST=127.0.0.1,localhost

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=eu-north-1

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
